/* inter-normal */
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* raleway-normal */
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* head styles */
.header {
    background-image: url(/../assingment/Assets/hero-png.png);

}



/* nav styles */
.nav-tittle {
    display: flex;
    width: 1140px;
    height: 151px;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.nav-header {
    font-size: 34px;
    font-weight: 900px;
    color: #4E47FF;
}

nav {
    width: 1440;
    margin: auto;
}


.nav-button {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    width: 132px;
    height: 48px;
    border: none;


}

/* banner styles */
.banner-head {
    height: 237px;
    max-width: 905px;
    padding-top: 158px;
    padding-right: 267px;
    padding-left: 267px;
}

div ul li {
    list-style: none;
}

.banner-little {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    align-items: center;
}

/* action styles start */
.div-action {
    display: flex;
    height: 328px;
    width: 1140px;
    margin: 116px 159px 0px 141px;
    align-items: center;
    justify-content: space-between;

}

.div-contain {
    width: 517px;
    height: 206px;
}

.div-tittle {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 23px;
}

.div-subtittle {
    font-size: 24px;
    font-weight: 400px;
    color: #252432;
    line-height: 30px;
    margin-bottom: 23px;
}

.action-button {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    width: 229px;
    height: 40px;
    border: none;
    text-align: center;
}

.div-image {
    width: 403px;
    height: 328px;
    border-radius: 48px;

}