/* inter-normal */
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* raleway-normal */
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* head styles */
header {
    background-image: url("Assets/hero-png.png");

}

.header-button {
    text-align: center;
    margin-top: 20px;
    /* border: 20px solid black; */
}



/* nav styles */
.nav-tittle {
    display: flex;
    width: 1140px;
    height: 151px;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.nav-header {
    font-size: 34px;
    font-weight: 900px;
    color: #4E47FF;
}

nav {
    width: 1440;
    margin: auto;
}


.nav-button {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    width: 132px;
    height: 48px;
    border: none;


}

/* banner styles */
.banner-head ul {
    height: 500px;
    max-width: 905px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

div ul li {
    list-style: none;
}

.banner-little {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    align-items: center;
}

/* action styles start */
.div-action {
    display: flex;
    height: 328px;
    width: 1440px;
    margin: 116px auto;
    align-items: center;
    justify-content: space-between;

}

.div-contain {
    width: 517px;
    height: 206px;
}

.div-tittle {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 23px;
}

.div-subtittle {
    font-size: 24px;
    font-weight: 400px;
    color: #252432;
    line-height: 30px;
    margin-bottom: 23px;
}

.action-button {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    width: 229px;
    height: 40px;
    border: none;
    text-align: center;
}

.div-image img {
    width: 403px;
    height: 328px;
    border-radius: 48px;

}


.productive-items {
    display: flex;
    justify-content: center;
}

/* productive action
.productive-start {
    width: 1140px;
    height: 306px;
}

.productive-container {
    display: flex;
    justify-content: space-around;
}

.productive-heading {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

.productive-little {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.productive-description {
    font-size: 20px;
    font-weight: 400px;
    color: rgba(0, 0, 0, 0.5);
} */

/* main styles */
.productive-start {
    padding: 50px 142px;
    background-color: rgba(78, 71, 255, 0.1);
    margin-top: 115px;
    max-width: 1140px;
}

main {
    max-width: 1440px;
    margin: 0px auto;
}

.section-tittle {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-bottom: 40px;
}

/* productive-section-tiems */
.productive-items {
    display: flex;
    gap: 158px;
    margin-top: 40px;
}


.item-tittle {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 0px;
}

.item-description {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 400px;
    color: rgba(0, 0, 0, 0.5);
}

/* what our user say section */
.skills {
    max-width: 1440px;
    margin: 0 auto;

}

.user-skills-container {
    display: flex;
    gap: 20px;
    /* background-color: #FFFFFF; */
    justify-content: space-around;



}

.user-skill-container {
    height: 243px;
    width: 366px;
    padding: 24px;
    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;




}

.our-user-bottom-container {
    display: flex;
    align-items: center;
    gap: 12px;

}


.user-section-tittle {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}

.suer-tittle {
    font-size: 24px;
    font-weight: 600px;
    color: #1E1E1E;
}

.uesr-description {
    font-size: 16px;
    font-weight: 400px;
    color: #1E1E1E;

}

.user-supdescription {
    font-size: 16px;
    font-weight: 600px;
    color: #757575;
    margin-bottom: 0px;
}

.user-normal-subdescription {
    font-size: 16px;
    font-weight: 400px;
    color: #B3B3B3;

}

.our-user-img {
    height: 40px;
    width: 40px;

}